{
  "root": true,
  "env": {
    "node": true,
    "es2021": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2019,
    "project": ["./tsconfig.json"]
  },
  "plugins": ["@typescript-eslint", "unicorn", "promise", "prettier", "jest"],
  "extends": [
    "eslint:recommended",
    "plugin:node/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "plugin:unicorn/recommended",
    "plugin:promise/recommended",
    "plugin:jest/style",
    "plugin:eslint-comments/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "no-process-exit": "off",
    "import/order": "error",
    "node/no-unpublished-import": "off",
    "node/no-unsupported-features/es-syntax": "off",
    "promise/param-names": "off",
    "unicorn/catch-error-name": "off",
    "unicorn/no-fn-reference-in-iterator": "off",
    "unicorn/no-null": "off",
    "unicorn/no-reduce": "off",
    "unicorn/prefer-spread": "off",
    "unicorn/prefer-string-slice": "off",
    "unicorn/prevent-abbreviations": "off",
    "unicorn/no-array-reduce": "off",
    "unicorn/import-style": "off",
    "unicorn/no-useless-undefined": "off",
    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "eslint-comments/require-description": ["error", { "ignore": [] }],
    "@typescript-eslint/no-unused-vars": "warn",
    "@typescript-eslint/no-floating-promises": ["warn", { "ignoreVoid": true }]
  },
  "overrides": [
    {
      "files": ["*.spec.ts", "services/tests/**"],
      "rules": {
        "@typescript-eslint/ban-types": "off",
        "@typescript-eslint/no-empty-function": "off",
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/no-var-requires": "off",
        "node/no-unpublished-require": "off"
      }
    }
  ],
  "settings": {
    "node": {
      "allowModules": [
        "graphql",
        "js-yaml",
        "node-fetch",
        "p-limit",
        "ramda",
        "ts-jest",
        "xml2js",
        "@oclif",
        "globby",
        "@jest/types"
      ],
      "tryExtensions": [".ts", ".json", ".node"]
    }
  }
}
