{
    "env": {
        "es6": true,
        "mocha": true,
        "jest/globals": true
    },
    "extends": [
        "standard"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "plugins": [
        "@typescript-eslint",
        "jest"
    ],
    "rules": {
        "@typescript-eslint/no-unused-vars": "error",
        "space-before-function-paren": "off",
        "space-in-parens": "off",
        "array-bracket-spacing": "off",
        "semi": "off",
        "@typescript-eslint/semi": ["error"],
        "jest/no-disabled-tests": "warn",
        "jest/no-focused-tests": "error",
        "jest/no-identical-title": "error",
        "jest/prefer-to-have-length": "warn",
        "jest/valid-expect": "error"
    },
    "overrides": [{
        "files": ["tests/**"],
        "rules": {
            "no-unused-expressions": "off"
        }
    }]
}